<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <title>AirKup</title>
    <style>
        .container {
            padding-top: 20px;
        }
    </style>
</head>
<body >
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-xs-12" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center panel-title"><i class="fa fa-sign-in fa-fw"></i> <b>Đăng nhập</b></h3>
                </div>
                <div class="panel-body">
                    <% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
                    <% } %>

                    <!-- LOGIN FORM -->
                    <form action="/admin/login" method="post" onsubmit="return validate();">
                        <div class="form-group">
                            <label>Email </label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa"></i></span>
                                <input type="text" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa"></i></span>
                                <input type="password" class="form-control" name="password" id="password" required>
                            </div>
                        </div>

                        <div class="checkbox">
                            <label><input type="checkbox" name="remember"> Ghi nhớ?</label>
                            <label><a href="#"> Quên mật khẩu</a></label>
                        </div>
                        <button type="submit" class="btn btn-primary" id="btnSubmit"><span class="fa fa-sign-in"></span> Đăng nhập</button>
                    </form>

                    <hr>

                    <!--<p>Bạn chưa có tài khoản? <a href="/signup">Đăng ký</a></p>-->
                    <!--<p>Trở về <a href="/">Trang chủ</a>.</p>-->
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>