<!DOCTYPE html>
<html lang="en">
<head>


    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Trang quản lý</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="/admin/login"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/admin/book"><i class="fa fa-table fa-fw"></i> Quản Lý Sách</a>
                    </li>
                    <li>
                        <a href="/admin/category"><i class="fa fa-table fa-fw"></i> Quản Lý Danh Mục</a>
                    </li>

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-xs-12" >
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="text-center panel-title"><i class="fa fa-image fa-fw"></i> <b>Thêm Sách</b></h3>
                    </div>
                    <div class="panel-body">
                        <form action="/admin/addBook" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Tiêu đề</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-header fa-fw"></i></span>
                                    <input type="text" class="form-control" name="title" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Ảnh (Chọn 2 ảnh bìa trước và sau của sách)</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-image fa-fw"></i></span>
                                    <input type="file" class="form-control" multiple  name="photo"  required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Mô tả</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-audio-description fa-fw"></i></span>
                                    <textarea type="text" class="form-control" name="description" required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Nội dung</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-connectdevelop fa-fw"></i></span>
                                    <textarea type="text" class="form-control" name="content" required>   </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Thể loại</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-connectdevelop fa-fw"></i></span>

                                    <select class="form-control" data-style="btn-info" name="category">
                                        <% var i = 0%>
                                        <% while(i < items.length) { %>
                                            <option  value="<%= items[i].category_id %>"><%= items[i].category %></option>

                                        <% i++ %>
                                        <% }%>

                                    </select>

                                </div>
                            </div>
                            <div class="form-group">
                                <label>Giá</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-archive fa-fw"></i></span>
                                    <input type="text" class="form-control" name="price" required>
                                </div>
                            </div>

                            <input type="text" name="userID" value="<%= user.user_id%>" hidden>
                            <button type="submit" class="btn btn-primary"><span class="fa fa-upload"></span> Thêm Sách</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- jQuery -->
<script src="../vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../vendor/metisMenu/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="../vendor/raphael/raphael.min.js"></script>
<script src="../vendor/morrisjs/morris.min.js"></script>
<script src="../data/morris-data.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../dist/js/sb-admin-2.js"></script>
</body>
</html>